In [1]:
import pandas as pd # 데이터 전처리
import numpy as np # 데이터 전처리
import matplotlib.pyplot as plt # 데이터 시각화
import itertools
from datetime import datetime, timedelta # 시간 데이터 처리
from statsmodels.tsa.arima_model import ARIMA # ARIMA 모델
%matplotlib inline

In [2]:
train = pd.read_csv("../data/Dataset/arima.csv", encoding = 'CP949')
# submission = pd.read_csv("../data/Dataset/submission.csv", encoding = 'CP949')

In [3]:
train['day'] = pd.date_range("2014-01-01", "2018-12-31") 
train = train.set_index('day')

In [4]:
train.to_csv("../data/Dataset/arima3.csv", encoding = 'utf-8')

In [8]:
train.head()

,H001,H002,H003,H004,H005,H006,H007,H008,H009,H010,...,H091,H092,H093,H094,H095,H096,H097,H098,H099,H100
day,,,,,,,,,,,,,,,,,,,,,
2014-01-01,9463.237882,8217.164829,8881.182724,7948.034016,8829.267764,9472.850175,9020.952069,8840.690800,8129.463771,8115.310993,...,8991.483079,8843.360299,9615.549349,9003.315851,8030.052618,5701.771582,9476.590231,8085.330339,5693.270251,9045.365161
2014-01-02,7784.139844,9034.165217,9281.992756,10678.770665,7992.484387,7811.051471,7976.679599,5753.185434,7978.404637,8061.886023,...,10856.407788,8038.372926,5620.856150,9494.426154,5661.913237,8219.991383,9011.112968,8139.239059,8086.134918,9315.746016
2014-01-03,7766.998297,12583.187529,5753.561203,9039.679482,9396.098245,9612.234103,8014.083085,8993.845868,8091.114793,9196.042173,...,9392.070465,8799.022668,9296.042889,5689.292699,9328.112947,9456.149759,8981.102601,5698.045270,8056.996488,12690.953665
2014-01-04,9424.786959,9001.908881,7867.681666,9347.973723,8895.926634,7683.707280,10719.806045,9440.547692,7887.420816,5641.482462,...,5726.905848,5605.980197,8823.503872,9297.702962,7986.271267,10679.408869,9446.989637,9413.215111,9113.242360,8099.195151
2014-01-05,8118.568615,9355.329740,10818.221468,7983.167780,5691.754330,8941.132748,8874.472318,9955.892210,8919.033758,9314.383478,...,8055.151116,8859.791639,9357.505820,5761.859275,5718.689934,8895.730179,7993.384241,8863.649878,7795.638269,7929.618711

In [9]:
train.describe()

,H001,H002,H003,H004,H005,H006,H007,H008,H009,H010,...,H091,H092,H093,H094,H095,H096,H097,H098,H099,H100
count,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,...,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000
mean,7648.864901,7637.965047,7706.953719,7670.898136,7612.544044,7700.642097,7668.757480,7648.271122,7673.607851,7689.755330,...,7667.451059,7650.408462,7647.214609,7639.999516,7675.369801,7621.735490,7650.618323,7653.823721,7684.133195,7618.082343
std,1320.767787,1329.418754,1348.062390,1262.021228,1335.363676,1262.573757,1312.787765,1323.506794,1304.610416,1301.135105,...,1296.048211,1320.787265,1271.147450,1317.521126,1277.552775,1327.177745,1260.497710,1294.562969,1291.483008,1339.216870
min,4750.180686,4716.676994,4743.394946,4726.149942,4727.926140,4723.436367,4687.196301,4744.341317,4698.360375,4714.768111,...,4750.187940,4705.006630,4770.963854,4776.880538,4718.079870,4753.258486,4780.832279,4739.825727,4742.468833,4761.185999
25%,7035.208331,7002.882568,7094.632218,7078.807571,6990.094061,7041.826196,7044.638010,7049.268546,7043.579664,7085.456577,...,7023.096285,7027.207732,7040.616875,7028.523063,7068.091916,7045.593587,7021.805092,7023.959218,7040.438370,7001.226036
50%,7848.599518,7840.897200,7905.735056,7844.253922,7784.332237,7919.954695,7877.121169,7833.299189,7837.359713,7894.815574,...,7858.879949,7815.259104,7792.470072,7814.202142,7837.364711,7776.855337,7834.996776,7870.238739,7858.150687,7861.971289
75%,8421.270781,8438.410679,8479.829523,8396.695952,8396.092429,8449.010582,8447.733670,8426.082699,8425.424219,8456.181349,...,8448.858264,8407.826161,8386.422362,8412.521613,8414.099988,8413.298029,8437.367226,8441.858118,8441.503608,8444.721953
max,12484.798451,13137.110899,12909.083616,12473.761575,12582.905087,12770.683059,12963.544838,12851.024490,12973.901976,13008.846804,...,12794.516264,12875.741266,12946.066440,12973.015199,12599.624944,13048.956749,12656.478166,12857.495924,12373.225685,12690.953665